{% extends 'base.html' %}
{% block content %}




<div class="container p-5">

    <h2 class="font-weight-bold mt-3">Resetuj hasło</h2><hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <p>Wprowadź email, a my wyślemy Ci emaila z instrukcjami, jak ustawić nowe hasło.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <button class="btn btn-primary" type="submit">Wyślij wiadomość</button>
        </form>
  	</div>

{% endblock %}