{% extends 'base.html' %}


{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

<head>

  <style>

    .normal {
    width: 300px;
    }
    .data {
    width: 300px;
    }
  </style>

</head>


  <body>

{% load widget_tweaks %}


<form method="post" novalidate>
  {% csrf_token %}



  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <table >
    {% for field in form.visible_fields %}
      <tr>
        <th style="text-align:right">{{ field.label_tag }}</th>
        <td style="padding:5px">

          {% render_field field  %}
          <span style="color:red;">{{ field.errors }}</span>

          <br>
          <span style="font-size:12px">{{ field.help_text  }}</span>
        </td>
      </tr>
    {% endfor %}

  </table>

  <button type="submit">Generuj wniosek</button>

</form>







{% endblock %}


  </body>


