{% extends 'base.html' %}


{% block content %}

<h1>Zwrot kosztów dojazdu</h1>


Na tej stronie możesz wygenerować wniosek, który zostanie automatycznie uzupełniony podanymi przez Ciebie danymi.<br>
Od otrzymania zwrotu kosztów dojazdu do domu dzielą Cię trzy proste kroki:
<ul>
    <li>Wypełnij formularz</li>
    <li>Pobierz, wydrukuj i podpisz wniosek (sprawdź poprawność danych)</li>
    <li>Spięte bilety razem z wnioskiem - wniosek jako PIERWSZY - (zszywaczem/spinaczem) przynieś do mnie! (p. 138)</li>
</ul>
<h3>Zmiana</h3>
<b>Nie trzeba</b> podpisywać biletów, jeśli są imienne, czyli np. bilet na pociąg InterCity.<br>
Proszę o spięcie biletów <b>razem</b> z wnioskiem - wniosek pierwszy z wierzchu.
<!--<h2>Uwaga!</h2>-->
<!--<b><p>Wnioski za poprzedni miesiąc zbieram do {{ data }} do północy.</p></b>-->
<br>
<a target="_blank" href="http://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20061811326/O/D20061326.pdf">Podstawa prawna</a> <br>
{% endblock %}
</span>