{% extends 'base.html' %}


{% block content %}

<h1>Zwrot kosztów dojazdu</h1>
Na tej stronie możesz wygenerować wniosek, który zostanie automatycznie uzupełniony podanymi przez Ciebie danymi.<br>
Od otrzymania zwrotu kosztów dojazdu do domu dzielą Cię trzy proste kroki:
<ul>
    <li>Wypełnij formularz</li>
    <li>Pobierz, wydrukuj i podpisz wniosek (sprawdź poprawność danych)</li>
    <li>Podpisane i spięte bilety (zszywaczem/spinaczem) oraz wniosek przynieś do mnie! (p. 138)</li>
</ul>
<a target="_blank" href="http://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20061811326/O/D20061326.pdf">Podstawa prawna</a> <br>
{% endblock %}
