{% extends 'base.html' %}
{% load static %}



{% block content %}



<h1>Informacje</h1>

<p>

<ul>
    <li>Na biletach musi być wskazane, że są kupione ze zniżką żołnierską 78%, w przeciwnym wypadku zwrot się wam nie należy.</li>
    <li>Każdej osobie przysługuje 1 zwrot w miesiącu za podróż na PJ oraz dowolna ilość zwrotów za podróż na urlop (jeśli dostaliśmy w miesiącu 2 urlopy i 1 PJ, możemy wnioskować o 3 zwroty, każdy na osobnym wniosku).</li>
    <li>Można wnioskować o zwrot za podróż do miejscowości NIE DALEJ niż wasza miejscowość zamieszkania oraz przebytą drogą NAJKRÓTSZĄ bądź NAJSZYBSZĄ (nie można jechać do Rzeszowa przez Gdańsk).</li>
    <li>Zwrot wypłacany jest reguły z opóźnieniem</li>
</ul>
<h2>Pomyłki:</h2>
<ul>
    Jeśli pomylisz się w:
    <li><b>imieniu i nazwisku</b> - &nbsp;&nbsp;&nbsp;poinformuj mnie o tym, bym mógł wprowadzić stosowną korektę</li>
    <li><b>danych PJ</b> - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; wypełnij jeszcze raz (poprawnie) formularz podając to samo imię i nazwisko (dane zostaną nadpisane)</li>
    <li><b>danych urlopu</b> - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; jeśli są to inne dane niż daty, wypełnij jeszcze raz (poprawnie) formularz podając to samo imię, nazwisko oraz daty (dane zostaną nadpisane)</li>
    <li><b>datach urlopu</b> - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; poinformuj mnie o tym, bym mógł wprowadzić stosowną korektę</li>
</ul>
W razie pytań zapraszam do kontaktu ze mną. <br><br>

<h2>Jak podpisać bilet:</h2>
<img width="100%" src="{% static 'bilet.jpg' %}">

</p>


{% endblock %}
