{% extends 'base.html' %}

{% block content %}



<p>
    Aktualnie wypełnili formularz:<br>

PJ:
    <table border="1px">
    <tr>
        <th>Doniesione</th>
        <th>Nr</th>

        <th>Stopień</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Miesiac</th>
        <th>Data wyjazdu</th>
        <th>Data powrotu</th>
        <th>Miasto</th>
        <th>Edytuj</th>
        <th>Usuń</th>
    </tr>
    {% for q in lista %}
    <tr>
        <td style="text-align:center">
            <form action="{% url 'save_changes' q.id %}" method="post">
                {% csrf_token %}
                {% if q.doniesione == 'X' %}
                    <input type="submit" style="background-color:green;" value="Zapisz">
                {% else %}
                    <input type="submit" value="Zapisz">
                {% endif %}
            </form>
        </td>
        <td style="text-align:center"> {{ q.nr_rozkazu }}</td>



        <td> {{ q.stopien }}</td>
        <td> {{ q.imie }} </td>
        <td> {{ q.nazwisko.upper }} </td>
        <td> {{ q.miesiac }} </td>
        <td> {{ q.data_wyjazdu }} </td>
        <td> {{ q.data_powrotu }} </td>
        {% if q.miasto == "Warszawa" %}
            <td bgcolor="red"> {{ q.miasto }} </td>
        {% else %}
            <td> {{ q.miasto }} </td>
        {% endif %}
        <td>
            <form action="{% url 'record_edit' q.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Edytuj">
            </form>
        </td>
        <td>
            <form action="{% url 'record_delete' q.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Usuń">
            </form>

        </td>



    </tr>
    {% endfor %}

</table>
<br>
Urlop:
<table border="1px">
    <tr>
        <th>Doniesione</th>
        <th>Nr</th>
        <th>Stopień</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data wyjazdu</th>
        <th>Data powrotu</th>
        <th>Miasto</th>
        <th>Edytuj</th>
        <th>Usuń</th>
    </tr>
    {% for q in lista2 %}
    <tr>
        <td style="text-align:center">
            <form action="{% url 'save_changes' q.id %}" method="post">
                {% csrf_token %}
                {% if q.doniesione == 'X' %}
                    <input type="submit" style="background-color:green;" value="Zapisz">
                {% else %}
                    <input type="submit" value="Zapisz">
                {% endif %}
            </form>
        </td>
        <td style="text-align:center"> {{ q.nr_rozkazu }}</td>


        <td> {{ q.stopien }}</td>
        <td> {{ q.imie }} </td>
        <td> {{ q.nazwisko.upper }} </td>
        <td> {{ q.data_wyjazdu }} </td>
        <td> {{ q.data_powrotu }} </td>
        <td> {{ q.miasto }} </td>
         <td>
            <form action="{% url 'record_edit' q.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Edytuj">
            </form>
        </td>
        <td>
            <form action="{% url 'record_delete' q.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Usuń">
            </form>

        </td>

    </tr>
    {% endfor %}

</table>
<form action="{% url 'rozkaz' %}" method="POST">
    {% csrf_token %}
    <button type="submit" style="margin-top:3px">Generuj rozkaz</button>
</form>

</p>


{% endblock %}


