

{% extends 'base.html' %}

{% block content %}
<h2>Zmień swoje dane</h2>

{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <table >
    {% for field in form.visible_fields %}
      <tr style="vertical-align:middle">
        <th style="text-align:right">{{ field.label_tag }}</th>
        <td style="padding:5px">

          {{ field }}
          <span style="color:red;">{{ field.errors }}</span>

          <br>
          <span style="font-size:12px">{{ field.help_text  }}</span>
        </td>
      </tr>
    {% endfor %}

  </table>



    <button type="submit">Aktualizuj</button>
</form>


{% endblock %}